<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2>Request from <%=@name %></h2>
    <%= link_to 'Download Now' ,@pdf %>
  </body>
</html>