<link rel="stylesheet" href="http://www.coriscoconstruction.com/wp-content/themes/Corisco/style.css" type="text/css" media="screen" />
<link rel='stylesheet' id='promoslider_main-css'  href='http://www.coriscoconstruction.com/wp-content/plugins/promotion-slider/css/slider.css?ver=3.9.8' type='text/css' media='all' />


<script type='text/javascript' src='http://www.coriscoconstruction.com/wp-includes/js/jquery/jquery.js?ver=1.11.0'></script>
<script type='text/javascript' src='http://www.coriscoconstruction.com/wp-includes/js/jquery/jquery-migrate.min.js?ver=1.2.1'></script>
<script type='text/javascript' src='http://www.coriscoconstruction.com/wp-content/plugins/nextgen-gallery/products/photocrati_nextgen/modules/ajax/static/persist.js?ver=3.9.8'></script>
<script type='text/javascript' src='http://www.coriscoconstruction.com/wp-content/plugins/nextgen-gallery/products/photocrati_nextgen/modules/ajax/static/store.js?ver=3.9.8'></script>





<script type='text/javascript'>
/* <![CDATA[ */
var promoslider_options = {"version":"3.3.4"};
/* ]]> */
</script>
<script type='text/javascript' src='http://www.coriscoconstruction.com/wp-content/plugins/promotion-slider/js/promoslider.js?ver=3.9.8'></script>


<div class="container">





	<div class="row">
		<div class="col-md-1"></div>
		<div class="col-md-10">
			<h2 class="text-center">About Our Company <br><br> </h2>
			<p>Founded in 2002, Corisco is a full service construction and landscaping company offering a variety of renovation, installation, design, and maintenance services. Our clients and projects are of various sizes and scope. However, the end results are a high level quality that exceeds expectations and with projects completed on-time and within budget. <br><br> </p>
		</div>
		<div class="col-md-1"></div>
		<div class="row">
			<div class="col-md-12">
				<h1 class="text-center">OUR MISSION <br><br></h1>
			<p class="letra text-center">To provide quality construction and landscaping services that promote attractive, functional and safe envioremnets.  <br><br></p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-10">
				<h2 class="text-center">City of Chicago and CMS MBD and DBE Certified <br><br><br></h2>
			</div>	
			<div class="col-md-1"></div>
		</div>
	</div>
	<div class="row">
		
		<div class="cleared reset-box"></div>
    <div class="art-box art-sheet">
        <div class="art-box-body art-sheet-body">
            
              
    
        
  
           
			

	      
	            	                <div class="art-postcontent art-post-inner art-article">
<table style="width: 100%;" border="0">
<tbody>
<tr>
<td id="col1" style="text-align: center; width: 25%;" valign="middle"><strong><span style="color: #729555;">NAICS CODES</span></strong></p>
<p>236220</p>
<p><span style="color: #729555;">Commercial Building</span></p>
<p>561730</p>
<p><span style="color: #729555;">Landscape</span></p>
<p>236116</p>
<p><span style="color: #729555;">Multifamily Housing</span></p>
<p>236210</p>
<p><span style="color: #729555;">Industrial Building</span></td>
<td id="col2" style="width: 70%;">
				<div class="promo_slider_wrapper first fancy_nav no_pause">
					
					<div class="promo_slider_nav tabbed_ps_nav slider_selections"></div>

					<div class="promo_slider auto_advance">
						<span class="promo_slider_time_delay" style="display:none;">6</span>
						
							<div class="panel panel-1">
								<span class="panel-title" style="display:none;">Tree / Shrub / Plant / Sod &#038; Soil</span>
										<div class="promo_slider_background_image"><a href="http://www.coriscolandscaping.com/?page_id=415" target="_self"><img width="675" height="290" src="http://www.coriscoconstruction.com/wp-content/uploads/2012/08/Decorative-Maintenance-2.jpg" class="attachment-full wp-post-image" alt="Decorative Maintenance 2" /></a>		</div>			<div class="promo_slider_title fancy_ps_title"><a href="http://www.coriscolandscaping.com/?page_id=415" target="_self">Tree / Shrub / Plant / Sod &#038; Soil</a>			</div>
										</div>

													
							<div class="panel panel-2">
								<span class="panel-title" style="display:none;">Mowing / Trimming / Pruning</span>
										<div class="promo_slider_background_image"><a href="http://www.coriscolandscaping.com/?page_id=643" target="_self"><img width="675" height="290" src="http://www.coriscoconstruction.com/wp-content/uploads/2012/08/2w.jpg" class="attachment-full wp-post-image" alt="2w" /></a>		</div>			<div class="promo_slider_title fancy_ps_title"><a href="http://www.coriscolandscaping.com/?page_id=643" target="_self">Mowing / Trimming / Pruning</a>			</div>
										</div>

													
							<div class="panel panel-3">
								<span class="panel-title" style="display:none;">Decorative Maintenance</span>
										<div class="promo_slider_background_image"><a href="http://www.coriscolandscaping.com/?page_id=412" target="_self"><img width="675" height="290" src="http://www.coriscoconstruction.com/wp-content/uploads/2012/08/Decorative-Maintenance-.jpg" class="attachment-full wp-post-image" alt="Decorative Maintenance" /></a>		</div>			<div class="promo_slider_title fancy_ps_title"><a href="http://www.coriscolandscaping.com/?page_id=412" target="_self">Decorative Maintenance</a>			</div>
										</div>

													
							<div class="panel panel-4">
								<span class="panel-title" style="display:none;">Pave and stone work</span>
										<div class="promo_slider_background_image"><a href="http://www.coriscolandscaping.com/?page_id=420" target="_self"><img width="675" height="290" src="http://www.coriscoconstruction.com/wp-content/uploads/2012/08/paving.jpg" class="attachment-full wp-post-image" alt="paving" /></a>		</div>			<div class="promo_slider_title fancy_ps_title"><a href="http://www.coriscolandscaping.com/?page_id=420" target="_self">Pave and stone work</a>			</div>
										</div>

													
							<div class="panel panel-5">
								<span class="panel-title" style="display:none;">Outdoor Furniture</span>
										<div class="promo_slider_background_image"><a href="http://www.coriscolandscaping.com/?page_id=417" target="_self"><img width="675" height="290" src="http://www.coriscoconstruction.com/wp-content/uploads/2012/08/outdoor-furniture.jpg" class="attachment-full wp-post-image" alt="outdoor furniture" /></a>		</div>			<div class="promo_slider_title fancy_ps_title"><a href="http://www.coriscolandscaping.com/?page_id=417" target="_self">Outdoor Furniture</a>			</div>
										</div>

													
							<div class="panel panel-6">
								<span class="panel-title" style="display:none;">Hard Landscape</span>
										<div class="promo_slider_background_image"><a href="http://www.coriscolandscaping.com/?page_id=408" target="_self"><img width="675" height="290" src="http://www.coriscoconstruction.com/wp-content/uploads/2012/08/6w.jpg" class="attachment-full wp-post-image" alt="6w" /></a>		</div>			<div class="promo_slider_title fancy_ps_title"><a href="http://www.coriscolandscaping.com/?page_id=408" target="_self">Hard Landscape</a>			</div>
										</div>

													
							<div class="panel panel-7">
								<span class="panel-title" style="display:none;">Roofing</span>
										<div class="promo_slider_background_image"><a href="http://www.coriscolandscaping.com/?page_id=643" target="_self"><img width="675" height="290" src="http://www.coriscoconstruction.com/wp-content/uploads/2012/08/roofing.jpg" class="attachment-full wp-post-image" alt="roofing" /></a>		</div>			<div class="promo_slider_title fancy_ps_title"><a href="http://www.coriscolandscaping.com/?page_id=643" target="_self">Roofing</a>			</div>
										</div>

													
							<div class="panel panel-8">
								<span class="panel-title" style="display:none;">Exterior Remodeling</span>
										<div class="promo_slider_background_image"><a href="http://www.coriscolandscaping.com/?page_id=402" target="_self"><img width="675" height="290" src="http://www.coriscoconstruction.com/wp-content/uploads/2012/08/8w.jpg" class="attachment-full wp-post-image" alt="8w" /></a>		</div>			<div class="promo_slider_title fancy_ps_title"><a href="http://www.coriscolandscaping.com/?page_id=402" target="_self">Exterior Remodeling</a>			</div>
										</div>

													
							<div class="panel panel-9">
								<span class="panel-title" style="display:none;">Concrete</span>
										<div class="promo_slider_background_image"><a href="http://www.coriscolandscaping.com/?page_id=398" target="_self"><img width="675" height="290" src="http://www.coriscoconstruction.com/wp-content/uploads/2012/08/9w.jpg" class="attachment-full wp-post-image" alt="9w" /></a>		</div>			<div class="promo_slider_title fancy_ps_title"><a href="http://www.coriscolandscaping.com/?page_id=398" target="_self">Concrete</a>			</div>
										</div>

													
							<div class="panel panel-10">
								<span class="panel-title" style="display:none;">Tuck-pointing / Masonry Restoration</span>
										<div class="promo_slider_background_image"><a href="http://www.coriscolandscaping.com/?page_id=404" target="_self"><img width="675" height="290" src="http://www.coriscoconstruction.com/wp-content/uploads/2012/08/10w.jpg" class="attachment-full wp-post-image" alt="10w" /></a>		</div>			<div class="promo_slider_title fancy_ps_title"><a href="http://www.coriscolandscaping.com/?page_id=404" target="_self">Tuck-pointing / Masonry Restoration</a>			</div>
										</div>

													
							<div class="panel panel-11">
								<span class="panel-title" style="display:none;">Carpentry</span>
										<div class="promo_slider_background_image"><a href="http://www.coriscolandscaping.com/?page_id=406" target="_self"><img width="675" height="290" src="http://www.coriscoconstruction.com/wp-content/uploads/2012/08/carpentry.jpg" class="attachment-full wp-post-image" alt="carpentry" /></a>		</div>			<div class="promo_slider_title fancy_ps_title"><a href="http://www.coriscolandscaping.com/?page_id=406" target="_self">Carpentry</a>			</div>
										</div>

													
							<div class="panel panel-12">
								<span class="panel-title" style="display:none;">Interior Renovation</span>
										<div class="promo_slider_background_image"><a href="http://www.coriscolandscaping.com/?page_id=400" target="_self"><img width="675" height="290" src="http://www.coriscoconstruction.com/wp-content/uploads/2013/03/interior-renovation.jpg" class="attachment-full wp-post-image" alt="interior- renovation" /></a>		</div>			<div class="promo_slider_title fancy_ps_title"><a href="http://www.coriscolandscaping.com/?page_id=400" target="_self">Interior Renovation</a>			</div>
										</div>

															<div class="promo_slider_nav fancy_ps_nav">
			<span class="move_backward pointer" title="Move Backward">&lt;&lt;</span>
			<span class="slider_selections pointer"></span>
			<span class="move_forward pointer" title="Move Forward">&gt;&gt;</span>
		</div>
		
						<div class="clear"></div>

					</div>
				</div></td>
</tr>
</tbody>
</table>
</p></td></tr></tbody></table></div></div></div></div>
	</div>

	<div class="row">
		<div class="col-md-1"></div>
		<div class="col-md-10">
			<h1 class="text-center">CAPABILITIES AND SERVICIES <br><br></h1>
		</div>
		<div class="col-md-1"></div>
	</div>
	<div class="row">
		<div class="col-md-2"></div>
		<div class="col-md-4">
			<p class="text-center">Construction</p>
			<p class="text-center">New construction</p>
			<p class="text-center">Construction Renovation</p>
			<p class="text-center">Construction Managment</p>
			<p class="text-center">Mansory restoration</p>
		</div>
		<div class="col-md-4">
			
			<p class="text-center">Hard landscape</p>
			<p class="text-center">Stone Work</p>
			<p class="text-center">All maintenance</p>
			<p class="text-center">Snow removal</p>
			
		</div>
			<div class="col-md-2"></div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-1"></div>
		<div class="col-md-10">
			<h1 class="text-center">RELEVANT DATA<br><br></h1>
		</div>
		<div class="col-md-1"></div>
	</div>
	<div class="row">
	<div class="col-md-2"></div>
		<div class="col-md-4">
			<p class="text-center">Self performed work</p>
			<p class="text-center">Professional staff</p>
			<p class="text-center">Site cordination & maintenance</p>
			<p class="text-center">fully insured</p>
			<p class="text-center">G.C licensed</p>
		</div>
		<div class="col-md-6">
			<div class="col-md-4">
			<p class="text-center">Daily Job Site Cleanse</p>
			<p class="text-center">High Project Safety</p>
			<p class="text-center">High Complementary Service Experience</p>
			<p class="text-center">Arborist Registered</p>
			<p class="text-center">Home Repair Licensed</p>
			
		</div>
		<div class="col-md-2"></div>
		</div>
	</div>
</div>