<div class="container">
    
        <div class="row">
            
        <h1 class="text-center">Landscaping</h1>
    
        <% @categories.each do |category| %>
    
        <div class="col-md-4">
        <h2 class="text-center"><%=category.name%></h2> 
        <div class="row">
            <div class="col-md-12 tam">
                 <%= image_tag category.image, :class => "img_ca img-thumbnail" %>
           
               
            </div>
        </div>
        <div class="row">
             <div class="col-md-12 text-center">
                <p class="text-center"><%=category.description%></p>
                <br>
                <div class="btn-group text-center">
                    <%= link_to "Show","/service/"+category.id.to_s+'?title='+category.name, :class => "btn btn-default text-center"  %>
                </div>
            
            </div>
            
        </div>

        </div>

        <% end%>

        </div>
 
   
</div> 