<div class="container">
	<div class="row">
    <h1 class="text-center">SERVICES <br><br></h1>
	<div class="col-md-1"></div>
        <div class="col-md-4 ">
            <%= image_tag('0.jpeg' , :class => "img_se2 center-block") %>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-4 ">
            <%= image_tag('landscaping button.jpg' , :class => "img_se2 center-block") %>
        </div>
        <div class="col-md-1"></div>

        <p> <br><br> </p>
</div> 
</div>