<div class="container">
    <div class="row">
        <h2>Our Work</h2>
    </div>
    <table class="table table-striped">


        <tbody>
        <% @categories.each do |category| %>
        <tr>
            <td><%=category.name%></td>
            <td><%=category.description%></td>
            <td><%= image_tag category.image, :class => "img_ca"%></td>
            <td><%= link_to "Show", {:controller => "welcome", :action => "service", :id => category.id} %></td>
       
      <!--   <div class="col-md-4"></div>
        <div class="col-md-4"></div> -->
        <% end%>
        </tr>
    </tbody>
    </table>
</div> 