<div class="container">
	<div class="row">
	<div class="col-md-1"></div>
        <div class="col-md-4 ">
            <%= image_tag('0.jpeg' , :class => "img_se center-block") %>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-4 ">
            <%= image_tag('landscaping button.jpg' , :class => "img_se center-block") %>
        </div>
        <div class="col-md-1"></div>
</div> 
</div>