
.caru
{

  margin: 0 auto;
}



.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #009688;
}
.tam
{
  width: 100px;
}
#myCarousel
{
  margin-top: -1.5%;
}